/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #1c3c5a;
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    color: #fbc02d;
}

/* Banner Principal */
#banner {
    background-image: url('assets/css/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#banner h1 {
    font-size: 3em;
}

#banner p {
    margin-top: 10px;
    font-size: 1.2em;
}

.btn-banner {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
}

.btn-banner:hover {
    background-color: #fbc02d;
    color: #333;
}

/* Seção Notícias */
#noticias {
    padding: 50px 0;
    background-color: #fff;
}

#noticias h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #1c3c5a;
}

.noticia-card {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.noticia-card img {
    width: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.noticia-card h3 {
    color: #1c3c5a;
    margin-bottom: 10px;
}

.noticia-card p {
    font-size: 1em;
}

.btn-leia-mais {
    display: inline-block;
    margin-top: 10px;
    background-color: #d32f2f;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-leia-mais:hover {
    background-color: #fbc02d;
    color: #333;
}

/* Seção Serviços */
#servicos {
    padding: 50px 0;
    background-color: #f4f4f4;
}

#servicos h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #1c3c5a;
}

.servicos-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.servicos-list li {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servicos-list li h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #d32f2f;
}

.servicos-list li p {
    font-size: 1em;
    color: #333;
}

/* Rodapé */
footer {
    background-color: #1c3c5a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .social-media img {
    width: 30px;
    margin: 0 10px;
}
