/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f0f2f5;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #003366; /* Azul escuro */
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 10px;  /* Largura ajustada da logo */
    height: 10px; /* Altura ajustada da logo */
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu li a:hover {
    background-color: #66a3ff; /* Azul claro no hover */
    color: #003366;
    border-radius: 5px;
}

/* Banner Principal */
#banner {
    background-color: #f5f5f5;
    padding: 100px 20px;
    text-align: center;
}

#banner h1 {
    font-size: 2.5em;
    color: #003366;
    font-weight: bold;
}

#banner p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #666;
}

.btn-banner {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.btn-banner:hover {
    background-color: #66a3ff;
    color: white;
}

/* Seção de Notícias */
#noticias {
    padding: 50px 0;
    background-color: #fff;
}

#noticias h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #003366;
    font-weight: bold;
}

.noticia-card {
    background-color: #f0f2f5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.noticia-card:hover {
    transform: translateY(-5px);
}

.noticia-card h3 {
    color: #003366;
    margin-bottom: 10px;
    font-weight: bold;
}

.noticia-card p {
    color: #666;
}

/* Rodapé */
footer {
    background-color: #003366;
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer .social-media img {
    width: 25px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

footer .social-media img:hover {
    transform: scale(1.2);
}
